.css-18e3th9 {
    padding-top: 3rem;
    padding-bottom: 10rem;
    padding-left: 3rem;
    padding-right: 5rem;
}
.css-1d391kg {
    padding-top: 3.5rem;
    padding-right: 1rem;
    padding-bottom: 3.5rem;
    padding-left: 1rem;
}
h1#derm-care{
    background-color: rgb(15, 58, 58);
    border-color: aqua;
    border-radius: 6px;
    font-family: serif;
}
h1#patient-form{
    background-color: rgb(9, 10, 48);
    border-radius: 9px;
    text-decoration: underline;
    text-decoration-color: rgb(14, 135, 176);
    text-underline-offset: 2px;
}
div.css-1r6slb0.e1tzin5v2{
    border-radius: 9px; 
    border: 3px;
}

h3#click{
    text-align: center;
    font-family: serif;
    background-color: rgb(15, 58, 58);
    border-radius: 9px;
    border-color: rgb(37, 161, 161);
    border-width: 9px;
}
h3#upload{
    text-align: center;
    font-family: serif;
    background-color: rgb(15, 58, 58);
    border-radius: 9px;
    border-color: rgb(37, 161, 161);
    border-width: 9px;
}
h3#predict{
    text-align: center;
    font-family: serif;
    background-color: rgb(15, 58, 58);
    border-radius: 9px;
    border-color: rgb(37, 161, 161);
    border-width: 9px;
}

h3#capture-infected-skin-image{
    text-align: center;
    font-size: small;
    font-family: serif;
}
h3#upload-captured-image{
    text-align: center;
    font-size: small;
    font-family: serif;
}
h3#get-predicted-result{
    text-align: center;
    font-size: small;
    font-family: serif;
}
footer{
    visibility: hidden;
}
h3#welcome-to-derm-care{
    text-underline-offset: 3px;
    text-decoration: dotted;
    font-style: italic;
}